.scroll-scale-page .section {
  height: 2000px;
}

.scroll-scale-page .overlay-text {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.scroll-scale-page .background-image {
  background-image: url('../../assets/blade_runner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  overflow: hidden;
}

.scroll-scale-page .slide-text {
  display: flex;
  height: 100%;
}

.scroll-scale-page .slide-text h1 {
  color: white;
  font-size: 90px;
  position: relative;
  margin: auto;
  padding: 10%;
}
