.slide-a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
}

.slide-a h3 {
  font-weight: 300;
  font-size: 5vw;
  height: 6vw;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  line-height: 1;
  margin: 0;
  overflow: hidden;
  position: relative;
}

.slide-a .hidetext {
  position: absolute;
  z-index: 200;
}
