.App {
  padding: 20px;
}

.App .nav {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.App .nav .nav-item {
  padding: 10px;
  font-size: 9px;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
}
