:root {
  --spacer-sm: 0.5rem;
  --spacer: 1rem;
  --duo-spacer: 2rem;
  --quarto-spacer: 4rem;

  --z-index-inner-nav: 9999;
  --z-index-nav: 99999;
  --z-index-menu-toggler: 999999;

  --gray-100: #f2f5f9;
  --gray-200: #e2e5e9;
  --gray-900: #131719;

  --primary: #2452F4;
  --brand: #00b300;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'Gotham Pro', sans-serif;
  color: #313639;
  /* background: #f1f4f7; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
